<?xml version="1.0"?>
<model>
  <name>panther_robot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  
  <author>
    <name>Mars Yard Simulation</name>
    <email>simulation@mars.com</email>
  </author>
  
  <description>
    A simple four-wheeled robot model similar to Husarion Panther for Mars Yard simulation.
  </description>
</model>